<h1>Editing Book</h1>
<%= form_with model:@book ,local:true do |f| %>
  <div class="field">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <h4>Body</h4>
    <%= f.text_area :body %>
  </div>
  <div class="action">
    <%= f.submit 'Update Book'%>
  </div>

  <a><%= link_to "Show", book_path(@book.id) %></a>
  |
  <a><%= link_to "Back", books_path %></a>
<% end %>
