<html>
  <body>
    <% flash.each do |key, msg| -%>
      <%= content_tag :div, msg, class: key %>
    <% end %>

    <p>Title:<%= @book.title %></p>
    <p>Body:<%= @book.body %></p>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", books_path %>
  </body>
</html>